body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  align-items: center ;
}
.clima .col-lg-2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.clima .col-lg-2 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.btn-secondary{
  background-color: #33aaff;
  border-color: #33aaff;
}



.section  {
  background-image: url("images/clima/climafondo.jpg");
}


.collapse {
  text-align: center;

}