.btn {
  display: flex;
  justify-content: center;
  background-color: #4e95e7;
  margin-bottom: -15px;
}
section img,a{
  display: flex;
  justify-content: center;
}
.widgets {
  display: flex;
  justify-content: center;
  background-image: url("/images/clima/climafondo.jpg");
}
