header {
    text-align: center;
    color: red;
    background-color: rosybrown;
}
h2 {
    text-align: right;
    color: green;
}
form {
    text-align:right;
}
nav {
    background-color: aqua;
    width: 500px;
    height:50px;
    text-align: left;
}
nav p {
    
}
nav button {
    background-color: white;
}
