<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f570856479.js" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Estilos Header -->
    <!-- propias-header -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!-- header -->
    <link rel="stylesheet" href="./css/header.css">
    <!-- Estilos Calendarios  -->
    <link rel="stylesheet" href="./css/calendarios.css">


    <!-- Estilos E-Shop -->
    <!-- propia -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- Estilos Footer -->
    <link rel="stylesheet" href="./css/footer.css">

</head>

<body>
    <!-- Header -->
    <header>
        <a href="../index.html"  class="logo">
            <img src="./images/identidad/El-anzuelo-logo.png" alt="logo de el anzuelo">
        </a>
        <div>
            <input type="search" class="menu__search-input" placeholder="¿Qué deseas buscar?">
            <i class="fa-solid fa-magnifying-glass menu__search-icon"></i>

            <a href="login-registro.html">
                <button class="btn-more"><span>Ingresar</span></button>
            </a>
        </div>
    </header>
    <!-- NAV MENU -->
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
          <button class="navbar-toggler navbar navbar-light bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item p-2">
                <a href="../index.html">HOME</a>
              </li>
              <li class="nav-item p-2">
                <a href="../view/clima.html">CLIMA</a>
              </li>
              <li class="nav-item p-2">
                <a href="../view/calendarios.html">CALENDARIO</a>
              </li>
              <li class="nav-item p-2">
                <a href="../view/shop.html">E-SHOP</a>
              </li>
              <li class="nav-item p-2">
                <a href="../view/foro.html">FORO</a>
              </li>
              <li class="nav-item py-2">
                <a href="../view/blog.html">BLOG</a>
              </li>
              <li class="nav-item p-2">
                <a href="../view/contacto.html">CONTACTO</a>
              </li>
      
            </ul>
          </div>
        </div>
      </nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-xs-12 py-3 m-l 11">

                <h5 class="mt-5">CALENDARIOS</h5>

                <h2>¡AGENDA TODA LA INFORMACION SOBRE PESCA!</h2>
                <p>Aqui podras ver y agendar todas las fechas importantes relacionadas a la pesca
                    deportiva, apertura de pesca de cada provincia y eventos importantes no te quedes afuera </p>
                <br>

                <iframe
                    src="
                    https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%234285F4&ctz=America%2FArgentina%2FBuenos_Aires&src=ZWxhbnp1ZWxvc2l0aW9kZXBlc2NhQGdtYWlsLmNvbQ&src=OTUzY2E3NDJhNDQ1OWYxOTQzZGE0YjJkYWQ4YjA1NGQ0ZmY1ZWQ2OTY3MTJlMjUzZmM3ZGZlYzVlNzg1OWYyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMtNDE5LmFyI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23F4511E&color=%230B8043"
                    style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>


            </div>
            <div class="col-md-3  col-xs-12  mt-5 ">

                <h5 class="mt-5 mb-4">NOTAS MAS LEIDAS</h5>
                <figure>
                    <img alt="Silverfox" class="img-fluid rounded  " src="./images/blog/0921nino-1424210.jpg">
                </figure>
                <h5 class="title4-long-responsive-section izq blue font-bold text-uppercase">Relatos a cielo abierto:
                    Volver al origen</h5>
                <p>Un texto de Daniel Vadillo enumera los pasos que sigue un pescador novel, y de corta edad. </p>


                <figure>
                    <img alt="Silverfox" class="img-fluid rounded  " src="./images/blog/pez.jpg">
                </figure>
                <h5 class="title4-long-responsive-section izq blue font-bold text-uppercase">Las tarariras ya pican en
                    Entre
                    Ríos</h5>
                <p>En septiembre se abre la temporada de hoplias malabaricus, tal el nombre científico de una de las
                    especies
                    preferidas por los pescadores deportivos.</p>


                <figure>
                    <img alt="Silverfox" class="img-fluid rounded  " src="./images/blog/tiburon.jpg">
                </figure>
                <h5 class="title4-long-responsive-section izq blue font-bold text-uppercase">Mirá el tiburón de especie
                    desconocida que pescaron en Australia</h5>
                <p>El extraño e intimidante pez que fue atrapado en las profundidades del mar que rodea a ese país de
                    Oceanía
                    provocó un gran desconcierto entre los expertos debido a sus particulares características.</p>



            </div>
        </div>
    </div>
</section>































<footer>
    <div class="container py-4">
      <div class="row">

        <div class="col">
          <img src="/view/images/identidad/El-anzuelo-icono.png" alt="">
        </div>


        <div class="col-lg-3">
          <input type="email" class="input subscribe-footer__input" id="Email" name="Email" placeholder="Email"
            autocomplete="off">
          <input class="button--submit" value="Subscribite" type="submit">
        </div>
    
    
        <div class="col">
          <h2>Soluciones</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">App Desarrollo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">App Marketing</a>
            </li>
            <li>
              <a href="#!" class="text-dark">IOS Desarrollo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Android Desarrollo</a>
            </li>
          </ul>
        </div>
    
        <div class="col">
          <h2>Compañia</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Acerca de</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Trabajos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Procesos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Servicios</a>
            </li>
          </ul>
        </div>
    
    
        <div class="col">
          <h2>Compañia</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </li>
          </ul>
        </div>
    
        <div class="box__copyright">
          <hr>
          <p></b>El anzuelo</p>
        </div>
    </div>
</footer>


    <!-- Script BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>