<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Anzuelo</title>
    <link rel="shortcut icon" href="./images/identidad/El-anzuelo-icono.png" type="image/png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
     <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f570856479.js" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Estilos Header -->
    <link rel="stylesheet" href="./css/header.css">
    <!-- Estilos  -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- Estilos Footer -->
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/clima.css">
</head>
<body>
    <!-- Header -->
    <header>
        <a href="../index.html" class="logo">
        <img src="./images/identidad/El-anzuelo-logo.png" alt="logo de el anzuelo">
        </a>
        <div>
        <input type="search" class="menu__search-input" placeholder="¿Qué deseas buscar?">
        <i class="fa-solid fa-magnifying-glass menu__search-icon"></i>
        <a href="login-registro.html">
            <button class="btn-more"><span>Ingresar</span></button>
        </a>
        </div>
    </header>
    <!-- NAV MENU -->
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
          <button class="navbar-toggler navbar navbar-light bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item p-2">
                <a href="../index.html">HOME</a>
              </li>
              <li class="nav-item p-2">
                <a href="view/clima.html">CLIMA</a>
              </li>
              <li class="nav-item p-2">
                <a href="view/calendarios.html">CALENDARIO</a>
              </li>
              <li class="nav-item p-2">
                <a href="view/shop.html">E-SHOP</a>
              </li>
              <li class="nav-item p-2">
                <a href="view/foro.html">FORO</a>
              </li>
              <li class="nav-item py-2">
                <a href="view/blog.html">BLOG</a>
              </li>
              <li class="nav-item p-2">
                <a href="view/contacto.html">CONTACTO</a>
              </li>
      
            </ul>
          </div>
        </div>
      </nav>
    <div class="widgets" style="display: flex; align-content: center; padding-right: 65px;">
        <!--Widget de Temperatura-->
        <div id="ww_8f4cc25f54a43" v='1.3' loc='auto' a='{"t":"horizontal","lang":"es","ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'><a href="https://sharpweather.com/es/widgets/" id="ww_8f4cc25f54a43_u" target="_blank">Widget de tiempo para el sitio web</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_8f4cc25f54a43"></script>
        <!--Widget de la luna-->
        <div id="contain_moon" style="display: block; padding-left: 35px; text-align:center;padding-top:5px;padding-bottom:5px;">
            <div style="font-weight:bold">La Luna hoy</div>
                <div loc='auto' style="margin-top:7px;margin-bottom:15px;filter:drop-shadow(0 0 30px hsl(220,100%,15%))">
                </div>
                <div>
                    .
                </div>
                <div style="font-size:small">
                    Aquí
                </div>
            </div>
        <script>
            (function(){var d=new Date().getDate();var m=document.querySelectorAll("#contain_moon div");var a=new XMLHttpRequest();var url="https://www.icalendar37.net/lunar/api/?lang=es&month="+(new Date().getMonth()+1)+"&year="+(new Date().getFullYear())+"&size=100&lightColor=rgb(245,245,245)&shadeColor=rgb(17,17,17)&LDZ="+new Date(new Date().getFullYear(),new Date().getMonth(),1)/1000+"";m[1].style.height="100px";a.onreadystatechange=function(){if(a.readyState==4&&a.status==200){var b=JSON.parse(a.responseText);m[1].innerHTML=b.phase[d].svg;if(typeof moon_widget_loaded=="function")moon_widget_loaded(b);m[2].innerHTML=b.phase[d].npWidget;m[3].innerHTML="Próxima luna llena<br>"+b.nextFullMoon}};a.open("GET",url,true);a.send()})()
        </script>
    </div>
    
<!-- SECCION CLIMA - CALENDARIOS ================================-->
    <!--Collapse temperatura-->
    <section>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTemperatura" role="button" aria-expanded="false" aria-controls="collapseExample">
                Temperatura
            </a>    
        </p>
        <div class="collapse show" id="collapseTemperatura">
            <div class="card card-body">
                <div id="TTPW_gsYL">El tiempo - Tutiempo.net</div>
                <script type="text/javascript">
                function IniciarCargaTiempoIP()
                {
                var ScriptOriginal = "https://www.tutiempo.net/s-widget/pw/fgsYL/C10/";
                var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function()
                    {
                        if(this.readyState == 4 && this.status == 200)
                        {
                        var data = JSON.parse(this.responseText);
                        var res = data.loc.split(",");
                        var imported = document.createElement('script');
                        if(res[0] && res[1]){imported.src = ScriptOriginal+res[0]+','+res[1];}
                        else{imported.src = ScriptOriginal;}
                        document.head.appendChild(imported);
                        }
                    };
                xhttp.open("GET","https://ipinfo.io/json",true);
                xhttp.send();
                }
                IniciarCargaTiempoIP();
                </script>
            </div>
            <iframe class="mapa-climatico" style="width: 100%; height: 500px;" src="https://mapa.tutiempo.net/#-37.19533;-60.83679;7">
                MAPAClima
            </iframe>
        </div>
    </section>
    <!--Collapse viento-->
    <section>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseViento" role="button" aria-expanded="false" aria-controls="collapseExample">
                Viento
            </a>    
        </p>
        <div class="collapse" id="collapseViento">
            <div class="card card-body">
                <section style="background-color: #aaaabb">
                    <p>Haz click en la imagen para acceder al "Mapa de vientos" y a Windguru</p>
                    <a target="_blank" href="https://www.windguru.cz">
                        <img src="./images/clima/mapa-viento.png" alt="mapa de marea" style="width: 100%; max-width: 850px ;">
                    </a>
                    <br>
                    <h1>XSURF- Aprende a interpretar Windguru</h1>
                    <p>Pagina enlace a explicación sobre como interpretar las estadisticas y nomenclaturas</p>
                    <iframe src="https://xsurf.es/como-interpretar-windguru/" alt="" style="width: 100%; min-height: 500px; border: 1px #4e95e7 solid;">
                        INSERCION DE PAGINA "XSURF"
                    </iframe>
                </section>
            </div>
        </div>
    </section>
    <!--Collapse marea-->
    <section>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseMarea" role="button" aria-expanded="false" aria-controls="collapseExample">
                Marea
            </a>    
        </p>
        <div class="collapse" id="collapseMarea">
            <div class="card card-body">
                <section>
                    <p>
                        Abra la imagen para acceder al mapa de mareas.
                    </p>
                    <br>
                    <a target="_blank" href="https://www.windguru.cz/map/tide/?lat=-37.7139996440031&lon=-59.89369535399976&zoom=5.023262737331681">
                        <img src="images/clima/mapa-marea.png" alt="mapa de marea" style="width: 100%; max-width: 850px ;">
                    </a>
                </section>
            </div>
        </div>
    </section>
    <!--Collapse Luna-->
    <section>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseLuna" role="button" aria-expanded="false" aria-controls="collapseExample">
                Calendario Lunar
            </a>   
        </p>
        <div class="collapse" id="collapseLuna">
            <div class="card card-body">
                <section>
                    <p>Información de las fases lunares del mes</p>
                    <div>
                        <iframe src="https://www.tutiempo.net/s-widget/moon/000000l1s/" scrolling="no" frameborder="0" style="display:flex; width :100%; height:830px;"></iframe>
                    </div>
                </section>
            </div>
        </div>    
    </section>
<!--Footer-->
<footer>
    <div class="container py-4">
      <div class="row">

        <div class="col">
          <img src="/view/images/identidad/El-anzuelo-icono.png" alt="">
        </div>


        <div class="col-lg-3">
          <input type="email" class="input subscribe-footer__input" id="Email" name="Email" placeholder="Email"
            autocomplete="off">
          <input class="button--submit" value="Subscribite" type="submit">
        </div>
    
    
        <div class="col">
          <h2>Soluciones</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">App Desarrollo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">App Marketing</a>
            </li>
            <li>
              <a href="#!" class="text-dark">IOS Desarrollo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Android Desarrollo</a>
            </li>
          </ul>
        </div>
    
        <div class="col">
          <h2>Compañia</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Acerca de</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Trabajos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Procesos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Servicios</a>
            </li>
          </ul>
        </div>
    
    
        <div class="col">
          <h2>Compañia</h2>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </li>
          </ul>
        </div>
    
        <div class="box__copyright">
          <hr>
          <p></b>El anzuelo</p>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>