<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sección Calendario de Home</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link rel="stylesheet" href="style.css">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <div class="container clima">
    <div class="row">
      <div class="col-lg-2">
        <img src="images/clima/clima.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title><img src="/images/clima/clima.jpg"></title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
        <h2 class="fw-normal">Clima</h2>
        <p>Toda la información sobre el clima y condiciónes del ambiente aquí.</p>
        <p><a class="btn btn-secondary" href="#">IR &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="images/clima/viento.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
        <h2 class="fw-normal">Vientos</h2>
        <p>Aquí encontrarás la información necesaria sobre los vientos para planear mejor tus salidas pesqueras.</p>
        <p><a class="btn btn-secondary" href="#">IR &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="images/clima/marea.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
        <h2 class="fw-normal">Marea</h2>
        <p>Entérate como esta la condición de la marea sobre la costa.</p>
        <p><a class="btn btn-secondary" href="#">IR &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="images/clima/luna.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
        <h2 class="fw-normal">Luna</h2>
        <p>Dicen que conocer las fases lunares es una ventaja a la hora de practicar este deporte, aprende más aquí.</p>
        <p><a class="btn btn-secondary" href="#">IR &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="images/clima/apertura-pesca.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
        <h2 class="fw-normal">Apertura Pesca</h2>
        <p>Conoce más sobre torneos, eventos pasados y futuros, y más curiosidades aquí.</p>
        <p><a class="btn btn-secondary" href="#">IR &raquo;</a></p>
      </div>
    </div>
  </div>
</main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>