<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Anzuelo</title>
  <link rel="shortcut icon" href="./images/identidad/El-anzuelo-icono.png" type="image/png">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Iconos -->
  <script src="https://kit.fontawesome.com/f570856479.js" crossorigin="anonymous"></script>
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!-- normalize -->
  <link rel="stylesheet" type="text/css" href="css/normalize.css">

  <!-- Estilos Header -->
  <link rel="stylesheet" href="./css/header.css">
  <!-- Estilos  -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
   <!-- Estilos contacto -->
   <link rel="stylesheet" href="./css/contacto.css">
  <!-- Estilos Footer -->
  <link rel="stylesheet" href="./css/footer.css">
</head>

<body>


  <!-- Header -->
  <header>
    <a href="../index.html"
="../index.html"

 class="logo">

      <img src="./images/identidad/El-anzuelo-logo.png" alt="logo de el anzuelo">

    </a>
    <div>
      <input type="search" class="menu__search-input" placeholder="¿Qué deseas buscar?">
      <i class="fa-solid fa-magnifying-glass menu__search-icon"></i>

      <a href="login-registro.html">
        <button class="btn-more"><span>Ingresar</span></button>
      </a>
    </div>
  </header>
  <!-- NAV MENU -->
  <nav>
    <div id="menu">
      <ul>
        <li><a href="../index.html"
="../index.html"

>home</a></li>
        <li><a href="clima.html">clima</a></li>
        <li><a href="calendarios.html">calendario</a></li>
        <li><a href="shop.html">e-shop</a></li>
        <li><a href="foro.html">foro</a></li>
        <li><a href="blog.html">blog</a></li>
        <li><a href="contacto.html">contacto</a></li>
      </ul>
    </div>
  </nav>
  </header>

  <!-- Formulario -->

  <section class="contacto" id="contacto" >
    <div class="contenedor-absoluto">      
    </div>
    <div class="titulo-contactos">
        <h3>ESCRIBINOS</h3>
    </div>
    <p class="parrafo-contacto">
            Complete el siguiente formulario y nos pondremos en contacto lo mas pronto posible.
    </p>
    <div class="mensaje-exitoso">       
    </div>
    <div class="errores">
    </div>
    <div class="formulario-contenedor">


       <form id="form"  action="https://formspree.io/f/xjvzpqbp" method="POST">
        <label>  
    
            <input type="text" name="nombre" placeholder="Nombre" class="input-nombre inputs" required>
            <input type="text" name="email" placeholder="Email" class="input-email inputs" required>
            <input type="tel" name="Telefono" placeholder="Telefono" class="input-telefono inputs" required>
            <textarea name="message" placeholder="Mensaje" class="area inputs"></textarea required>

              <button class= "btn" type="submit"></button>
       
        </label>

      </form>

</section> 
  
  <footer>
    <div class="container__footer">
      <div class="box__footer">
        <div class="logo-footer">
          <img src="images/identidad/El-anzuelo-logo.png" alt="">
        </div>
        <div class="subscribe-footer">
          <div class="group-subs">
            <input type="email" class="input subscribe-footer__input" id="Email" name="Email" placeholder="Email"
              autocomplete="off">
            <input class="button--submit" value="Subscribite" type="submit">
          </div>
        </div>
      </div>
      <div class="box__footer">
        <h2>Soluciones</h2>
        <a href="https://www.google.com">App Desarrollo</a>
        <a href="#">App Marketing</a>
        <a href="#">IOS Desarrollo</a>
        <a href="#">Android Desarrollo</a>
      </div>

      <div class="box__footer">
        <h2>Compañia</h2>
        <a href="#">Acerca de</a>
        <a href="#">Trabajos</a>
        <a href="#">Procesos</a>
        <a href="#">Servicios</a>
      </div>

      <div class="box__footer">
        <h2>Redes Sociales</h2>
        <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
        <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
      </div>

    </div>
    <div class="box__copyright">
      <hr>
      <p></b>El anzuelo</p>
    </div>
  </footer>


  <!--Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script src="/view/js/formulario-contacto.js"></script>
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>
</body>
