<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Anzuelo</title>
    <link rel="shortcut icon" href="./images/identidad/El-anzuelo-icono.png" type="image/png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/f570856479.js" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Propia -->
    <link rel="stylesheet" type="text/css" href="product.html">
</head>

<body>



    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Anzuelo</title>
        <link rel="shortcut icon" href="./images/identidad/El-anzuelo-icono.png" type="image/png">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Iconos -->
        <script src="https://kit.fontawesome.com/f570856479.js" crossorigin="anonymous"></script>
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- Header -->
        <link rel="stylesheet" type="text/css" href="./css/header.css">
        <!-- Footer -->
        <link rel="stylesheet" type="text/css" href="./css/footer.css">
        <!-- Propia -->
        <link rel="stylesheet" type="text/css" href="./css/product.css">
    </head>

    <body>
        <!-- Header -->
        <header>
            <a ref="index.html" class="logo">
                <img src="./images/identidad/El-anzuelo-logo.png" alt="logo de el anzuelo">
            </a>
            <div>
                <input type="search" class="menu__search-input" placeholder="¿Qué deseas buscar?">
                <i class="fa-solid fa-magnifying-glass menu__search-icon"></i>

                <a href="login-registro.html">
                    <button class="btn-more"><span>Ingresar</span></button>
                </a>
            </div>
        </header>
        <!-- NAV MENU -->
        <nav>
            <div id="menu">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="clima.html">clima</a></li>
                    <li><a href="calendarios.html">calendario</a></li>
                    <li><a href="shop.html">e-shop</a></li>
                    <li><a href="foro.html">foro</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contacto.html">contacto</a></li>
                </ul>
            </div>
        </nav>

        <!-- Header / nav -->
        <!-- ================================== -->
        <div class="card-product col-10">
            <!-- Product -->
            <div class="product-galeria">
                <input type="radio" name="selection" value="imagen1" id="img_1" checked>
                <input type="radio" name="selection" value="imagen2" id="img_2">
                <input type="radio" name="selection" value="imagen3" id="img_3">
                <input type="radio" name="selection" value="imagen4" id="img_4">
                <img src="./images/shop/product-shop/producto2.jpg">
                <img src="./images/shop/product-shop/producto2.1.jpg">
                <img src="./images/shop/product-shop/producto2.3.jpg">
                <img src="./images/shop/product-shop/producto2.4.jpg">
            </div>

            <!-- Product ends -->
            <div class="container-data-product col-4">
                <div class="product-data">
                    <h2>BLOOD 9000 GAMMA C/ CARRETE EXTRA</h2>
                    <h3>$32,223.00</h3>
                </div>

                <div id="description">
                    <p>
                        Blood 9000 Gamma C/ Carrete Extra - 6+1 rulemanes de acero inoxidable - Sin fin de acero
                        inoxidable para un Devanado excelente y prolijo. - Eje y partes de acero inoxidable - Cuerpo
                        extra liviano de carbono de alta resistencia - Diseño de carrete de casting - Corona de potencia
                        - Balanceado por computadora - Sistema de frenado rapido - Rulemanes: 6+1 - Apto para largos
                        lances. - Peso del reel 530 Grs. - 2 Carretes de aluminio. - Manivela rígida de aluminio. -
                        Sistema Anti-reverse infinito. - Gear Ratio 4.6:1 - Capacidad 515 mts - 0,30 mm

                    </p>
                </div>
                <div id="producto-categoria" class="mt-1 mb-0 text-muted small">
                    <span>Reeles</span>
                    <span class="text-primary"> • </span>
                    <span>Reeles Frontales</span>
                    <span class="text-primary"></span>
                </div>

                <br />
                <div class="cart">
                    <div class="product-cantidad">
                        <label for="cantidad">
                            Cantidad:
                            <input class="product-cantidad" type="number" id="cantidad" placeholder="1" min="1"
                                maxlength="2">
                        </label>
                    </div>
                    <div class="producto-add-cart">
                        <a href="./cart.html">
                            <button class="btn-add mt-3"> Añadir
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg>
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- Footer -->
        <!-- Footer -->
        <footer>
            <div class="container__footer">
                <div class="box__footer">
                    <div class="logo-footer">
                        <img src="images/identidad/El-anzuelo-logo.png" alt="">
                    </div>
                    <div class="subscribe-footer">
                        <div class="group-subs">
                            <input type="email" class="input subscribe-footer__input" id="Email" name="Email"
                                placeholder="Email" autocomplete="off">
                            <input class="button--submit" value="Subscribite" type="submit">
                        </div>
                    </div>
                </div>
                <div class="box__footer">
                    <h2>Soluciones</h2>
                    <a href="https://www.google.com">App Desarrollo</a>
                    <a href="#">App Marketing</a>
                    <a href="#">IOS Desarrollo</a>
                    <a href="#">Android Desarrollo</a>
                </div>

                <div class="box__footer">
                    <h2>Compañia</h2>
                    <a href="#">Acerca de</a>
                    <a href="#">Trabajos</a>
                    <a href="#">Procesos</a>
                    <a href="#">Servicios</a>
                </div>

                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                    <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                    <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
                </div>

            </div>
            <div class="box__copyright">
                <hr>
                <p></b>El anzuelo</p>
            </div>
        </footer>

        <!-- Footer ends -->



        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        </div>
        </div>
    </body>

    </html>